[{ecf, [{forum_name, <<"Erlang Creative Forum">>},
        {base_url, "/ecf"},
        {port, 8080},
        {max_username_length, 32},
        {post_limit_seconds, 30},
        % Strings
        % Login
        {login_message, <<"Please login.">>},
        {login_fail_message, <<"Login failed! Try again.">>},
        {already_logged_in, <<"You're already logged in!">>},
        {max_login_attempts, 5},
        % Logout
        {logout_message, <<"You've successfully been logged out.">>},
        % Registration
        {register_message, <<"Please register.">>},
        {register_failed_captcha, <<"You failed the CAPTCHA, try again.">>},
        {invalid_username, <<"Username must be 1-32 characters and contain only letters, numbers, dashes, and underscores.">>},
        {username_taken, <<"Username already taken, please use another.">>},
        {email_taken, <<"Email already used, please use another.">>},
        % 401
        {admin_401, <<"You need to login to do that.">>},
        {create_post_401, <<"You need to login to do that.">>},
        {create_thread_401, <<"You need to login to do that.">>},
        {edit_profile_401, <<"You need to login to do that.">>},
        % 403
        {admin_403, <<"You're not allowed to do that.">>},
        {view_forum_403, <<"You're not allowed to do that.">>},
        {view_thread_403, <<"You're not allowed to do that.">>},
        {create_thread_403, <<"You're not allowed to do that.">>},
        {create_post_403, <<"You're not allowed to do that.">>},
        % 429
        {create_thread_429, <<"Please wait at least 30 seconds between posts.">>},
        {create_post_429, <<"Please wait at least 30 seconds between posts.">>}
       ]},
       "private.config"].

